# Ignore large datasets
*.csv

# Python
__pycache__/
.venv/
*.pyc

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
**/.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env

#temp rdata files and live parquet
data/*.RData
!data/AURN_metadata.RData
data/live_air_quality.parquet
__pycache__/
*.pyc

# Cache files for Gemini insights
data/insights_cache/*.json